*.pyc
*.sqlite3
birds_nest/results/*/
birds_nest/resources/*/
birds_nest/pybirdai/process_steps/filter_code
birds_nest/pybirdai/templates/pybirdai/F_*
*.sql
!birds_nest/pybirdai/templates/pybirdai/create_transformation_rules_in_smcubes.html
