{% extends 'base.html' %}

{% block content %}
<h1>Change Psuedocode for Derivation Transformation Rules</h1>

<p> PyBIRD AI generates all the code for calling the generation transformation rules and executable derivation rules.<br><br>
    For each derivation rule, We have a clear location for where the code should live, users need to do the last step of translating the psuedocode into actual python code.<br><br>
    This <a href="https://youtu.be/MY5drY3RlJs">video</a>   explains how to change the psuedocode for derivation transformation rules into executable Python code.<br><br>
  
</p>


{% endblock %}