{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Report Templates</title>
</head>
<body>
<h1>Report Templates</h1>
<table border="1">
<a href="{% url 'pybirdai:step_by_step_mode'%}">Back to the FreeBIRD Application Home Page</a>

{% if templates %}
    {% for template in templates %}
    <tr><td><a href="{% url 'pybirdai:show_report' template.filename %}">{{ template.display_name }}</a></td></tr>
    {% endfor %}
{% else %}
    <tr><td colspan="1">No FINREP report templates available. Please download templates first.</td></tr>
{% endif %}

</table>
</body>
</html>
{% endblock %}
