{% extends 'base.html' %}

{% block content %}
<h1>Import SQLDEveloper EIL Files</h1>

<p>Using the SQLDEveloper Tools, export the EIL CSV files from the BIRD database, following the instructions <a href="https://github.com/eclipse-efbt/efbt/wiki/Export-Files-from-SQLDeveloper">here</a> and then upload them by clicking the link below</p>

<a href="{% url 'pybirdai:upload_sqldev_eil_files' %}">Upload SQLDeveloper EIL CSV files </a></li>
   
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="eil_files" multiple>
    <button type="submit">Upload Files</button>
</form>

{% endblock %}