{% extends 'base.html' %}

{% block content %}
<h1>Upload Join Configuration Files</h1>

<p>Currently there are 4 configuration files, and ready made versions are available <a href="https://github.com/regcommunity/FreeBIRD/tree/main/birds_nest/resources/joins_configuration">here</a> <br><br> Theses files are in_scope_reports_FINREP_REF.csv , table_part_ldm_definitions_FINREP_REF.csv , table_part_il_definitions_FINREP_REF.csv , And table_part_to_reference_category_FINREP_REF.csv

Documentation on creating these files is to follow, basically they list the reports in scope, and show which tables in BIRD input layer or LDM are used for each products used in reports (like debt securities used in Finrep) . <br><br>
    and then upload them by clicking the link below: <br><br>

</p>
   
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="joins_configuration_files" multiple>
    <button type="submit">Upload Files</button>
</form>

{% endblock %}